<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="paper-tabs">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `paper-tabs`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PaperTabs extends Polymer.Element {
      static get is() { return 'paper-tabs'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'paper-tabs'
          }
        };
      }
    }

    window.customElements.define(PaperTabs.is, PaperTabs);
  </script>
</dom-module>
